/* Removes border from Textfield */
.list-name-input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
.tag-input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
.view-input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none;
}

/* Changes color of TextField label when selected */
.list-name-input .MuiFormLabel-root.Mui-focused,
.tag-input .MuiFormLabel-root.Mui-focused,
.view-input .MuiFormLabel-root.Mui-focused {
  color: white;
}

/* Raises position of TextField label when selected */
.list-name-input .MuiInputLabel-outlined.Mui-focused,
.tag-input .MuiInputLabel-outlined.Mui-focused,
.view-input .MuiInputLabel-outlined.Mui-focused {
  transform: translate(14px, -15px) scale(0.75);
}

.list-name-input,
.tag-input,
.view-input {
  margin-bottom: 50px !important;
  height: 20px;
}

.new-list-title {
  color: #9ab;
  font-family: "Palatino Linotype", serif;
  text-decoration: underline;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.textfield-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40%;
  margin-left: 20px;
}

.textfield-container > * {
  margin-bottom: 30px;
  width: 50%;
}

.textfield-container input {
  background-color: #89a;
  margin-bottom: 10px;
}

.textfield-container input:focus {
  background-color: white;
  border: 2px solid orange;
  outline: none;
}

.textfield-container input:focus + label {
  color: orange;
}

.list-name-input {
  outline: none !important;
}

.description-input {
  background-color: #89a;
  max-width: 500px;
  max-height: 250px !important;
  margin-left: -200px !important;
  margin-top: 80px !important;
}

.description-input {
  height: 500px;
  outline: none;
}

.description-input:focus {
  background-color: white;
}

.description-input textarea {
  box-sizing: content-box;
}
