.container {
  padding-top: 40px;
  padding-bottom: 10px;
}

img {
  border-radius: 10px;
}

.not-available {
  width: 92px;
  height: 138px;
}

.poster-container {
  float: left;
  margin-right: 16px;
}

.poster-container img:hover {
  border: 2px solid orange;
}

.title-date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.movie-title {
  font-size: large;
  font-weight: bold;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none !important;
  max-width: 480px;
}

.movie-title:hover {
  color: orange !important;
}

a {
  text-decoration: none !important;
}

.release-date {
  color: #9ab;
  font-size: large;
}

.movie-icon {
  color: white !important;
}
.movie-icon:hover {
  color: orange !important;
}

.visibility-icon {
  color: white !important;
}

.visibility-icon:hover {
  color: orange !important;
}

.director-container {
  margin-top: -10px;
  margin-bottom: 10px;
}

.director {
  color: #9ab;
}
