.container {
  padding-top: 40px;
  padding-bottom: 10px;
}

img {
  border-radius: 10px;
}

.notAvailable {
  width: 92px;
  height: 138px;
}

.posterContainer {
  float: left;
  margin-right: 16px;
}

.posterContainer img:hover {
  border: 2px solid orange;
}

.titleDateContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.movieTitle {
  font-size: large;
  font-weight: bold;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none !important;
  max-width: 480px;
}

.movieTitle:hover {
  color: orange !important;
}

a {
  text-decoration: none !important;
}

.releaseDate {
  color: #9ab;
  font-size: large;
}

.movieIcon {
  color: white !important;
}
.movieIcon:hover {
  color: orange !important;
}

.visibilityIcon {
  color: white !important;
}

.visibilityIcon:hover {
  color: orange !important;
}

.directorContainer {
  margin-top: -10px;
  margin-bottom: 10px;
}

.director {
  color: #9ab;
}
