.userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcomeTag {
  color: white;
}

.topFiveBox {
  display: flex;
  align-items: center;
  justify-content: "center";
  flex-wrap: wrap;
}

.faveFilmsTag {
  font-size: 15px;
  color: #9ab;
  border-bottom: 1px solid white;
  max-width: 765px;
}

.emptyTopFive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 225px;
  margin: 2px;
  background-color: #678 !important;
  cursor: pointer;
}

.addIcon {
  color: #2c3440 !important;
  font-size: 48px !important;
}

.addIcon:hover {
  color: orange !important;
}

.topFivePoster {
  width: 150px;
  height: 225px;
  margin: 2px;
}

.searchModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 24px;
}

.saveTopFiveBtn {
  color: #9ab !important;
}

.saveTopFiveBtn:hover {
  color: orange !important;
}
