.welcomeGrid {
  margin-top: 30px;
}

.welcomeTextContainer {
  align-items: center;
  color: white;
  font-family: "Palatino Linotype", serif;
  margin-bottom: 30px;
}

.filmRecsTagline {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 10px;
  color: #9ab;
  font-family: "Palatino Linotype", serif;
}

.movieRecPoster {
  width: 185px;
  height: 278px;
}

.tagline {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 10px;
  color: #9ab;
  font-family: "Palatino Linotype", serif;
}

.getStartedBtn {
  color: black !important;
  background-color: orange !important;
  left: 40%;
}

.getStartedBtn:hover {
  background-color: rgb(197, 136, 23) !important;
}

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #678 !important;
  color: #def !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  padding: 20px;
  max-height: 100px !important;
}

.paper:hover {
  background-color: orange !important;
}

.description {
  width: 210px;
}

.firstFiveProgressBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
