.film-container {
  padding-bottom: 150px;
}

.movie-backdrop {
  border-radius: 400px;
  object-fit: cover;
  width: 100%;
  height: 650px;
  padding-bottom: 50px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    #2c3440 40%,
    #2c3440 100%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    #2c3440 100%,
    #2c3440 100%,
    transparent
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.movie-backdrop:hover {
  border: 2px solid transparent;
}

.poster-container {
  position: relative;
}

.poster-details {
  display: flex;
  align-items: flex-start;
}

.film-info {
  flex-grow: 1;
  margin-left: 0.5rem;
}

.title-run-container {
  display: flex;
  display: inline-block;
  vertical-align: center;
}

.runtime {
  color: #9ab;
}

.film-title {
  top: 0%;
  right: 0;
  margin: 0%;
  padding: 5px;
  padding-left: 1.9em;
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.director-container {
  display: inline-block;
  margin-top: 10px;
}

.directed-by {
  font-weight: bold;
  font-size: large;
  color: #9ab;
  margin-left: 47px;
  display: inline;
}

.director-name {
  display: inline;
  margin: 0.5rem 0 0;
  margin-left: 5px;
  color: white;
}

.film-tagline {
  padding-top: 20px;
  padding-left: 11%;
  font-size: larger;
  color: #9ab;
}

.film-overview {
  padding: 30px;
  margin-left: 16px;
  flex-grow: 1;
  color: #9ab;
  max-width: 100%;
}

@media (max-width: 767px) {
  .film-title {
    right: 0;
  }
  .film-overview {
    margin-left: 0;
    max-width: 100%;
  }
}

.user-container {
  padding: 10px !important;
}

.icon:hover {
  color: white;
}

Button:hover {
  color: orange;
}

.crew-tab {
  position: absolute;
  bottom: 5em;
  right: 0;
}

.add-watchlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wl-text {
  color: #9ab;
}

.add-watchlist:hover .add-icon,
.add-watchlist:hover .wl-text {
  color: white;
}

.remove-watchlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-text {
  color: #9ab;
}

.poster-modal{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: 2px solid black;
  box-shadow: 24px;
  background-color: black;
}