.film-Container{
  padding-bottom: 150px;
}

.movieBackdrop {
  border-radius: 400px;
  object-fit: cover;
  width: 100%;
  height: 650px;
  padding-bottom: 50px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    #2c3440 40%,
    #2c3440 100%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    #2c3440 100%,
    #2c3440 100%,
    transparent
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.movieBackdrop:hover {
  border: 2px solid transparent;
}

.posterContainer {
  position: relative;
}

.poster:hover {
  cursor: pointer;
}

.posterDetails {
  display: flex;
  align-items: flex-start;
}

.filmInfo {
  flex-grow: 1;
  margin-left: 0.5rem;
}

.titleRunContainer {
  display: flex;
  display: inline-block;
  vertical-align: center;
}

.runtime {
  color: #9ab;
}

.filmTitle {
  top: 0%;
  right: 0;
  margin: 0%;
  padding: 5px;
  padding-left: 1.9em;
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.directorContainer {
  display: inline-block;
  margin-top: 10px;
}

.directedBy {
  font-weight: bold;
  font-size: large;
  color: #9ab;
  margin-left: 47px;
  display: inline;
}

.directorName {
  display: inline;
  margin: 0.5rem 0 0;
  margin-left: 5px;
  color: white;
}

.filmTagline {
  padding-top: 20px;
  padding-left: 11%;
  font-size: larger;
  color: #9ab;
}

.filmOverview {
  padding: 30px;
  margin-left: 16px;
  flex-grow: 1;
  color: #9ab;
  max-width: 100%;
}

@media (max-width: 767px) {
  .film-title {
    right: 0;
  }
  .film-overview {
    margin-left: 0;
    max-width: 100%;
  }
}

.userContainer {
  padding: 10px !important;
}

.icon:hover {
  color: white;
}

Button:hover {
  color: orange;
}

.crewTab {
  position: absolute;
  bottom: 5em;
  right: 0;
}

.addWatchlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wlText {
  color: #9ab;
}

.addWatchlist:hover .addIcon,
.addWatchlist:hover .wlText {
  color: white;
}

.removeWatchlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.removeText {
  color: #9ab;
}

.posterModal{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 600px;
  border: 2px solid black;
  box-shadow: 24px;
  background-color: black;
  overflow-y: auto;
}
