.MuiTabs-root {
  width: 100%;
}

.MuiTabs-indicator {
  background-color: orange !important;
}

.selected {
  color: white !important;
}

.unselected {
  color: orange !important;
}

.tabsContainer{
  display: flex;
  justify-content: flex-end;
  margin-left: 150px;
}

.castContainer {
  width: 87%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: auto;
  margin-left: 125px;
}

.castTabPanel {
  height: 150px;
  width: 500px;
  overflow: auto;
  color: white;
}

.castMember {
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: orange;
  font-size: 12px;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.crewContainer {
  width: 87%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: auto;
  margin-left: 125px;
}

.crewTabPanel {
  height: 150px;
  width: 500px;
  overflow: auto;
  color: white;
}

.crewMember {
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: orange;
  font-size: 12px;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.detailsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: auto;
  margin-left: 125px;
}

.detailsTabPanel {
  height: 150px;
  width: 500px;
  overflow: auto;
  color: white;
}

.details {
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: orange;
  font-size: 12px;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.genresContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: auto;
  margin-left: 125px;
}

.genresTabPanel {
  height: 150px;
  width: 500px;
  overflow: auto;
  color: white;
}

.genres {
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: orange;
  font-size: 12px;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
