.film-grid {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  justify-items: center !important;
  row-gap: .5rem !important;
  padding-top: 3em !important;
  width: 100% !important;
  margin: auto;
}

.film-grid > div:last-child {
  margin-right: 1px !important;
}

.watchlist-text {
  color: #9ab;
  width: 100%;
  text-align: left;
}

.remove-icon-container{
  display: flex;
  justify-content: center;
}

.remove-icon{
  color: #9ab;
}

.remove-icon:hover{
  color: orange;
}

.remove-button:hover{
  color: orange;
}

.remove-popover:hover{
  color: orange !important;
}