.filmGrid {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  justify-items: center !important;
  row-gap: .5rem !important;
  padding-top: 3em !important;
  width: 100% !important;
  margin: auto;
}

.filmGrid > div:last-child {
  margin-right: 1px !important;
}

.watchlistText {
  color: #9ab;
  width: 100%;
  text-align: left;
}

.removeIconContainer{
  display: flex;
  justify-content: center;
}

.removeIcon{
  color: #9ab;
}

.removeIcon:hover{
  color: orange;
}

.removeButton:hover{
  color: orange;
}

.removePopover:hover{
  color: orange !important;
}